<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/integration/bootstrap.php"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	stopOnFailure="false"
	beStrictAboutTestsThatDoNotTestAnything="true"
>
	<testsuites>
		<testsuite name="Integration">
			<directory suffix="Test.php">./tests/integration</directory>
		</testsuite>
		<testsuite name="Acceptance">
			<directory suffix="Test.php">./tests/acceptance</directory>
		</testsuite>
	</testsuites>

	<php>
		<const name="WP_TESTS_DOMAIN" value="example.org" />
		<const name="WP_TESTS_EMAIL" value="admin@example.org" />
		<const name="WP_TESTS_TITLE" value="Test Blog" />
		<const name="WP_PHP_BINARY" value="php" />
	</php>

	<groups>
		<exclude>
			<group>multisite</group>
		</exclude>
	</groups>
</phpunit>
